Repository kryota-dev/nextjs-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markuplint, spellcheck, typecheck

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: pnpm exec next lint --file {staged_files}
    prettier:
      glob: 'src/**/*.{js,jsx,ts,tsx,css}'
      run: pnpm exec prettier --check --cache {staged_files}
    markuplint:
      glob: 'src/**/*.{jsx,tsx,html}'
      run: pnpm exec markuplint {staged_files}
    spellcheck:
      glob: 'src/**/*.{js,jsx,ts,tsx,css}'
      run: pnpm exec cspell --no-progress {staged_files}
    typecheck:
      glob: 'src/**/*.{ts,tsx}'
      run: pnpm exec tsc --noEmit

✨ package.jsonのテストスクリプトを更新し、vitestのプロジェクト指定を追加しました。また、vitest.config.tsを削除し、vitest.workspace.tsにユニットテストとStorybookテストの設定を統合しました。GitHub Actionsのワークフローにgitの設定を追加しました。
  .github/workflows/check-quality.yml
  package.json
  vitest.config.ts
  vitest.workspace.ts
Due: none

✨ package.jsonとpnpm-lock.yamlの依存関係を更新し、vitest、@vitest/browser、@vitest/ui、@vitest/coverage-v8、chromaticのバージョンを3.2.0にアップグレードしました。また、新たにvitest.config.tsを作成し、ユニットテストとStorybookテストの設定を統合しました。
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

✨ GitHub Actionsのワークフローを更新し、リポジトリのチェックアウト時に`persist-credentials`を`false`に設定しました。また、Playwrightのキャッシュを追加し、Playwrightのインストールを行うステップを追加しました。
  .github/workflows/check-quality.yml
Due: none

✨ JsonLDコンポーネントのユニットテストを更新し、mockJsonLDの型定義を修正しました。各テストケースでのJSON-LDデータの構造を明確にし、型安全性を向上させました。
  src/app/@jsonld/_components/JsonLD.spec.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ PRへのコメント投稿方法を更新し、行レベルコメントの手順を簡略化しました。`gh pr comment`コマンドでファイルからコメントを投稿できるようにしました。
  .cursor/tasks/generic-review.md
Due: none

✨ PRへのコメント投稿方法を更新し、行レベルコメントの手順を簡略化しました。ファイルからコメントを投稿できるように変更しました。
  .cursor/tasks/frontend-review.md
Due: none

✨ Storybookのページストーリーにプレイ機能を追加し、"Hello World"テキストの存在を確認するテストを実装しました。
  src/app/page.stories.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ package.jsonに@mdx-js/reactの依存関係を追加し、pnpm-lock.yamlを更新しました。また、vitest.config.tsにエイリアス設定とSCSSのプリプロセッサオプションを追加しました。
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: none

✨ GitHub Actionsのワークフローを更新し、プルリクエストとマージグループのトリガーをmainおよびdevelopブランチに設定しました。また、プルリクエスト時にカバレッジレポートを作成する条件を追加しました。
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローからマージグループの設定をコメントアウトし、プッシュイベントのトリガーを追加しました。
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローからdevelopブランチのプッシュイベントトリガーを削除しました。
  .github/workflows/check-quality.yml
Due: none

🎨 GitHub ActionsのワークフローでStorybookテストの名前を変更しました。
  .github/workflows/check-quality.yml
Due: none

📚 README.mdにGitHub Actionsのバッジを追加しました。
  README.md
Due: none

📚 README.mdにGitHub Releaseバッジを追加しました。
  README.md
Due: none

📚 README.mdのGitHub Releaseバッジをリンク付きに修正しました。
  README.md
Due: none

✨ Plopを使用したコード生成機能を追加し、README.mdにその使用方法を記載しました。また、関連するテンプレートファイルを新規作成しました。
  .plop/app_component/layout.tsx.hbs
  .plop/app_component/page.tsx.hbs
  .plop/component/component.spec.tsx.hbs
  .plop/component/component.stories.tsx.hbs
  .plop/component/component.tsx.hbs
  .plop/component/index.ts.hbs
  README.md
  docs/coding-guidlines/directory-structure.md
  docs/coding-guidlines/plop.md
  docs/coding-guidlines/technology-stack.md
  package.json
  plopfile.mjs
  pnpm-lock.yaml
Due: none

📚 技術スタックのドキュメントを更新し、各技術にリンクを追加しました。
  docs/coding-guidlines/technology-stack.md
Due: none

📚 技術スタックのドキュメントを更新し、各セクションに技術のリンクを追加しました。
  docs/coding-guidlines/technology-stack.md
Due: none

🗑️ next-env.d.tsファイルを新規作成し、.gitignoreから削除しました。
  .gitignore
  next-env.d.ts
Due: none

✨ Plopコマンドの名称を変更し、ドキュメント内の使用例を更新しました。`pnpm plop`から`pnpm generate`に統一しました。
  docs/coding-guidlines/plop.md
Due: none

✨ LinkButtonコンポーネントを新規作成し、Homeページに追加しました。また、テストとストーリーを作成しました。既存のページストーリーを削除しました。
  .plop/component/component.spec.tsx.hbs
  src/app/page.stories.tsx
  src/app/page.tsx
  src/components/common/LinkButton/LinkButton.spec.tsx
  src/components/common/LinkButton/LinkButton.stories.tsx
  src/components/common/LinkButton/LinkButton.tsx
  src/components/common/LinkButton/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

🗑️ LinkButtonコンポーネントの説明を更新し、不要な.gitkeepファイルを削除しました。
  src/components/common/.gitkeep
  src/components/common/LinkButton/LinkButton.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ Footerコンポーネントを新規作成し、Homeページに追加しました。また、Footerのテストとストーリーを作成しました。
  src/app/page.tsx
  src/components/layouts/Footer/Footer.spec.tsx
  src/components/layouts/Footer/Footer.stories.tsx
  src/components/layouts/Footer/Footer.tsx
  src/components/layouts/Footer/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

🗑️ 不要な.gitkeepファイルを削除しました。
  src/components/layouts/.gitkeep
Due: none

📚 plop.mdとunit-test.mdに読み込みメッセージを追加しました。
  docs/coding-guidlines/plop.md
  docs/coding-guidlines/unit-test.md
Due: none

📚 README.mdに読み込みメッセージを追加しました。
  README.md
Due: none

📚 document-management.mdcに読み込みメッセージを追加しました。
  .cursor/rules/document-management.mdc
Due: none

📚 cspell.config.ymlに新しい単語「guidlines」を追加し、unit-test.mdcおよびunit-test.mdの読み込みメッセージを更新しました。
  .cursor/rules/unit-test.mdc
  cspell.config.yml
  docs/coding-guidlines/unit-test.md
Due: none

📚 各ルールファイルの説明文を更新し、読み込みメッセージの文末を修正しました。また、globsパターンを明確化しました。
  .cursor/rules/code-quality-assurance.mdc
  .cursor/rules/document-management.mdc
  .cursor/rules/global.mdc
  .cursor/rules/unit-test.mdc
  .cursor/rules/wcag-2.2.mdc
Due: none

✨ Storybookテスト作成ルールとガイドラインを新規作成しました。テストの前提確認や実行手順、アクセシビリティテストの重要性について詳細に記載しています。
  .cursor/rules/storybook-test.mdc
  docs/coding-guidlines/storybook-test.md
Due: none

📚 unit-test.mdcのガイドライン項目を整理し、テスト品質の確認セクションを更新しました。また、重要な注意事項の番号を修正しました。
  .cursor/rules/unit-test.mdc
Due: none

📚 create-issue.md、create-pull-request.md、frontend-review.md、generic-review.mdの内容を更新し、GitHub MCP Serverの使用を明記しました。また、各タスクの手順を整理し、エラーハンドリングや注意事項を強化しました。
  .cursor/tasks/create-issue.md
  .cursor/tasks/create-pull-request.md
  .cursor/tasks/frontend-review.md
  .cursor/tasks/generic-review.md
Due: none

📚 各ルールファイルの読み込みメッセージを更新し、ファイルパスを明示しました。また、globsパターンの整形を行いました。
  .cursor/rules/code-quality-assurance.mdc
  .cursor/rules/document-management.mdc
  .cursor/rules/global.mdc
  .cursor/rules/wcag-2.2.mdc
  docs/coding-guidlines/coding-rule.md
  docs/coding-guidlines/directory-structure.md
  docs/coding-guidlines/plop.md
  docs/coding-guidlines/release-process.md
  docs/coding-guidlines/storybook-test.md
  docs/coding-guidlines/technology-stack.md
Due: none

🗑️ 不要なSVGファイル（file.svg、globe.svg、next.svg、vercel.svg、window.svg）を削除しました。
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

✨ ヘッダーとフッターコンポーネントを追加し、レイアウトを更新しました。また、フッターに著作権情報を追加し、ページのスタイルを調整しました。ヘッダーのテストとストーリーも新規作成しました。
  src/app/layout.tsx
  src/app/page.tsx
  src/components/layouts/Footer/Footer.tsx
  src/components/layouts/Header/Header.spec.tsx
  src/components/layouts/Header/Header.stories.tsx
  src/components/layouts/Header/Header.tsx
  src/components/layouts/Header/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ microCMSの設定とクライアントを追加し、環境変数を更新しました。また、microCMS関連の型定義とユーティリティ関数を実装しました。
  .env.example
  package.json
  pnpm-lock.yaml
  src/config.ts
  src/libs/microcms/client/client.ts
  src/libs/microcms/client/index.ts
  src/libs/microcms/index.ts
  src/libs/microcms/microcms.ts
  src/libs/microcms/types/contents/btnType.ts
  src/libs/microcms/types/contents/index.ts
  src/libs/microcms/types/contents/news.ts
  src/libs/microcms/types/contents/newsCategories.ts
  src/libs/microcms/types/contents/profile.ts
  src/libs/microcms/types/index.ts
  src/libs/microcms/utils/getTotalCount.ts
  src/libs/microcms/utils/index.ts
Due: eslint, prettier, spellcheck, typecheck

✨ dompurifyを追加し、サニタイズ処理を実装しました。また、関連する型定義をpnpm-lock.yamlに追加しました。
  package.json
  pnpm-lock.yaml
  src/libs/sanitize/index.ts
  src/libs/sanitize/sanitize.ts
Due: eslint, prettier, spellcheck, typecheck

✨ html-react-parserを追加し、HTMLコンテンツをReactコンポーネントに変換するパーサーを実装しました。また、関連する型定義をpnpm-lock.yamlに追加しました。
  package.json
  pnpm-lock.yaml
  src/libs/parse/index.ts
  src/libs/parse/parse.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ sanitize関数のユニットテストを新規作成しました。安全なHTMLタグの保持、危険なスクリプトタグやイベントハンドラーの除去、空文字列やプレーンテキストの処理など、様々なケースをカバーしています。
  src/libs/sanitize/sanitize.spec.ts
Due: eslint, prettier, spellcheck, typecheck

✨ parse関数のユニットテストを新規作成しました。HTMLをReactコンポーネントに変換する機能や、各HTMLタグのスタイリング、エラーハンドリングのテストケースを網羅しています。
  src/libs/parse/parse.spec.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck
