Repository kryota-dev/nextjs-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markuplint, spellcheck, typecheck

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: 'src/**/*.{js,jsx,ts,tsx}'
      run: pnpm exec next lint --file {staged_files}
    prettier:
      glob: 'src/**/*.{js,jsx,ts,tsx,css}'
      run: pnpm exec prettier --check --cache {staged_files}
    markuplint:
      glob: 'src/**/*.{jsx,tsx,html}'
      run: pnpm exec markuplint {staged_files}
    spellcheck:
      glob: 'src/**/*.{js,jsx,ts,tsx,css}'
      run: pnpm exec cspell --no-progress {staged_files}
    typecheck:
      glob: 'src/**/*.{ts,tsx}'
      run: pnpm exec tsc --noEmit

✨ parse.tsxにおいて、画像要素のalt属性のデフォルト値を空文字列から削除し、ESLintの警告を無視するコメントを追加しました。
  src/libs/parse/parse.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ microCMSのAPI関数に関するユニットテストを新規作成しました。getList、getObject、getContent、getAllContents、getAllContentIdsの各関数の動作確認を行い、正常系およびエッジケースをカバーしています。また、microCMSクライアントの設定に関するテストも追加しました。
  src/libs/microcms/client/client.spec.ts
  src/libs/microcms/microcms.spec.ts
  src/libs/microcms/utils/getTotalCount.spec.ts
Due: eslint, prettier, spellcheck, typecheck

✨ parse.tsxにおいて、画像要素のalt属性をデフォルト値として空文字列を設定するように修正
  src/libs/parse/parse.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ microCMSに関するガイドラインと実装ルールを新規作成しました。型定義の保護やエラーハンドリング、パフォーマンス最適化に関する詳細な指針を含んでいます。また、環境変数の設定やAPIキーの管理についても説明しています。
  .cursor/rules/microcms-rules.mdc
  docs/coding-guidlines/microcms.md
Due: none

✨ README.mdと技術スタックのドキュメントにmicroCMSに関する情報を追加しました。README.mdにはmicroCMSガイドラインとユニットテストガイドラインへのリンクを、技術スタックにはmicroCMSのリンクを含めています。
  README.md
  docs/coding-guidlines/technology-stack.md
Due: none

✨ package.jsonとpnpm-lock.yamlに@next/eslint-plugin-nextの依存関係を追加
  package.json
  pnpm-lock.yaml
Due: none

✨ eslint.config.tsにおいて、vitestプラグインのインポート位置を修正
  eslint.config.ts
Due: none

✨ .vscode/settings.jsonにbiomeを無効化する設定追加
  .vscode/settings.json
Due: none

✨ import順序整理
  vitest.config.ts
Due: none

✨ Homeコンポーネントのタイトルをh1からh2に変更し、Storybookに新しいページストーリーを追加。Storybookのプレビュー設定にNext.jsのappDirectoryオプションを追加。
  .storybook/preview.tsx
  src/app/page.stories.tsx
  src/app/page.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ eslint.config.tsに@eslint/compatを追加し、.gitignoreを考慮した設定を追加。package.jsonとpnpm-lock.yamlに@eslint/compatの依存関係を追加。
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: none

✨ plopfile.mjsにStorybookファイル生成オプションを追加し、ページストーリーの自動生成機能を実装。layout.tsx.hbsの見出しをh2に変更し、plop.mdにStorybookファイル生成に関する情報を追記。
  .plop/app_component/layout.tsx.hbs
  .plop/app_component/page.stories.tsx.hbs
  docs/coding-guidlines/plop.md
  plopfile.mjs
Due: none

✨ robots.ts、sitemap.ts、layout.tsxファイルをテスト対象外に追加
  vitest.config.ts
Due: none

✨ vitest.config.tsにおいて、テスト対象外にsrc/config.tsとsrc/styles/を追加
  vitest.config.ts
Due: none

✨ package.jsonにテストスクリプトを追加し、GitHub Actionsのワークフローを更新してVitestのユニットテストとカバレッジレポートを実行するように変更。
  .github/workflows/check-quality.yml
  package.json
Due: none

✨ document-management.mdcのglobs設定を修正し、alwaysApplyをtrueに変更
  .cursor/rules/document-management.mdc
Due: none

:sparkles: MSW導入
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/components/common/ClientFetch/ClientFetch.stories.tsx
  src/components/common/ClientFetch/ClientFetch.tsx
  src/components/common/ClientFetch/index.ts
  src/libs/msw/browser.ts
  src/libs/msw/node.ts
  src/mocks/handlers/handlers.spec.ts
  src/mocks/handlers/index.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ ClientFetchコンポーネントにクライアントサイドでフェッチするための説明コメントを追加
  src/components/common/ClientFetch/ClientFetch.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ ESLint設定を更新し、無視するファイルリストに新たに'_containers'ディレクトリを追加。package.jsonに'server-only'パッケージを追加し、tsconfig.jsonの除外リストを拡張。レイアウトとページコンポーネントをリファクタリングし、コンテナコンポーネントを導入。不要なページストーリーを削除し、フッターとヘッダーのストーリーにテストを追加。
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/app/_containers/layout/container.tsx
  src/app/_containers/layout/index.ts
  src/app/_containers/layout/presentation/index.ts
  src/app/_containers/layout/presentation/presentation.stories.tsx
  src/app/_containers/layout/presentation/presentation.tsx
  src/app/_containers/page/container.tsx
  src/app/_containers/page/index.ts
  src/app/_containers/page/presentation/components/index.ts
  src/app/_containers/page/presentation/index.ts
  src/app/_containers/page/presentation/presentation.stories.tsx
  src/app/_containers/page/presentation/presentation.tsx
  src/app/layout.tsx
  src/app/page.stories.tsx
  src/app/page.tsx
  src/components/layouts/Footer/Footer.stories.tsx
  src/components/layouts/Header/Header.stories.tsx
  tsconfig.json
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ vitest.config.tsのテスト対象外ファイルリストを更新し、layout.tsxを{page,layout,default}.tsxに変更。
  vitest.config.ts
Due: none

✨ HomePagePresentationコンポーネントにpropsを追加し、動的にタイトル、説明、リンクを表示するように変更。RootLayoutPresentationコンポーネントのHTMLタグを修正し、RootLayoutContainerのpropsを絞り込み。ページストーリーにデフォルトのargsを追加。
  src/app/_containers/layout/container.tsx
  src/app/_containers/layout/presentation/presentation.tsx
  src/app/_containers/page/container.tsx
  src/app/_containers/page/presentation/presentation.stories.tsx
  src/app/_containers/page/presentation/presentation.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ plopfile.mjsをリファクタリングし、Container/Presentationalパターンを導入。新たにレイアウトとページ用のコンテナコンポーネントを作成し、ストーリー生成機能を更新。ESLint設定にplopfile.mjsを追加。
  .plop/app_component/_containers/layout/container.tsx.hbs
  .plop/app_component/_containers/layout/index.ts.hbs
  .plop/app_component/_containers/layout/presentation/index.ts.hbs
  .plop/app_component/_containers/layout/presentation/presentation.stories.tsx.hbs
  .plop/app_component/_containers/layout/presentation/presentation.tsx.hbs
  .plop/app_component/_containers/page/container.tsx.hbs
  .plop/app_component/_containers/page/index.ts.hbs
  .plop/app_component/_containers/page/presentation/index.ts.hbs
  .plop/app_component/_containers/page/presentation/presentation.stories.tsx.hbs
  .plop/app_component/_containers/page/presentation/presentation.tsx.hbs
  .plop/app_component/layout.tsx.hbs
  .plop/app_component/page.stories.tsx.hbs
  .plop/app_component/page.tsx.hbs
  eslint.config.ts
  plopfile.mjs
  src/app/page.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ plopfile.mjsを更新し、ページおよびレイアウトのPresentationコンポーネント用の新しいパスを追加。コーディングガイドラインを修正し、Container/Presentationalパターンに基づくディレクトリ構造を明確化。plop.mdに新しいコンポーネント生成ルールを追加。
  docs/coding-guidlines/coding-rule.md
  docs/coding-guidlines/directory-structure.md
  docs/coding-guidlines/plop.md
  plopfile.mjs
Due: none

✨ ClientFetchコンポーネントにAbortControllerを追加し、フェッチ処理の中断機能を実装。これにより、コンポーネントのアンマウント時にリクエストをキャンセルできるようになりました。
  src/components/common/ClientFetch/ClientFetch.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ ClientFetchコンポーネントのfetch処理にAbortControllerを使用し、リクエスト中断時のエラーハンドリングを追加。リクエストが中断された場合に特定のエラーメッセージを表示するように変更。
  src/components/common/ClientFetch/ClientFetch.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ presentation.tsxおよびpresentation.tsx.hbsファイルのProps型をリファクタリングし、コードの可読性を向上させました。これにより、コンポーネントのプロパティ定義が簡潔になりました。
  .plop/app_component/_containers/layout/presentation/presentation.tsx.hbs
  src/app/_containers/layout/presentation/presentation.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ ESLint設定を更新し、無視するファイルリストを'_components'と'_containers'ディレクトリをまとめて指定する形式に変更。これにより、設定が簡潔になりました。
  eslint.config.ts
Due: none

✨ MSWハンドラーを新たに定義し、APIモックのテストを追加。`vitest.config.ts`のファイルリストを更新し、`handlers`のインポートパスを修正しました。
  .storybook/preview.tsx
  src/libs/msw/browser.ts
  src/libs/msw/handlers/handlers.spec.ts
  src/libs/msw/handlers/handlers.ts
  src/libs/msw/handlers/index.ts
  src/libs/msw/node.ts
  vitest.config.ts
Due: eslint, prettier, spellcheck, typecheck

✨ MSW (Mock Service Worker) に関するガイドラインを新規作成し、プロジェクト内での使用方法やベストプラクティスを詳細に記述しました。また、技術スタックにMSWを追加しました。
  docs/coding-guidlines/msw.md
  docs/coding-guidlines/technology-stack.md
Due: none

✨ GitHub Actionsのワークフローを更新し、Playwrightのバージョンをキャッシュキーに使用するように変更。また、Playwrightのバージョンを取得して出力するステップを追加しました。
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローを更新し、PlaywrightのキャッシュキーにOS情報を追加しました。これにより、異なるOSでのキャッシュ管理が改善されます。
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローを更新し、Playwrightのセットアップを新たにアクションとして定義しました。これにより、Playwrightのバージョン取得、キャッシュ、ブラウザのインストールが一元管理されます。
  .github/actions/playwright-setup/action.yml
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローを更新し、ラベル追加対象のブランチを柔軟に設定できるようにしました。また、ブランチチェックの結果に応じて後続のステップをスキップする機能を追加しました。
  .github/workflows/add-github-labels.yml
Due: none

✨ GitHub Actionsのワークフローを更新し、ブランチチェックの条件を簡素化しました。これにより、指定されたブランチでのみ後続のステップが実行されるようになりました。
  .github/workflows/add-github-labels.yml
Due: none

feat: 未使用MSWハンドラー削除とテスト修正
  src/app/posts/[id]/edit/_containers/page/presentation/presentation.stories.tsx
  src/libs/jsonplaceholder/api.spec.ts
  src/libs/msw/handlers/handlers.spec.ts
  src/libs/msw/handlers/handlers.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

test: JSONPlaceholder APIテストの修正とクリーンアップ - 非現実的なエラーケーステストを削除（JSONPlaceholder APIの寛容な仕様に合わせる）- グローバルMSWハンドラーとの競合を解決 - APIテストの内容を実際のJSONPlaceholder APIの動作に合わせて調整 - テスト安定性向上とMSWサーバー設定最適化
  src/libs/jsonplaceholder/api.spec.ts
Due: eslint, prettier, spellcheck, typecheck

feat: RootLayout Container/Presentational pattern and generateStaticParams
  .storybook/preview.tsx
  src/app/_containers/layout/container.tsx
  src/app/_containers/layout/index.ts
  src/app/_containers/layout/presentation/index.ts
  src/app/_containers/layout/presentation/presentation.stories.tsx
  src/app/_containers/layout/presentation/presentation.tsx
  src/app/_containers/page/container.tsx
  src/app/_containers/page/presentation/presentation.tsx
  src/app/layout.tsx
  src/app/posts/[id]/delete/page.tsx
  src/app/posts/[id]/edit/page.tsx
  src/app/posts/[id]/page.tsx
  src/components/layouts/Navigation/Navigation.spec.tsx
  src/components/layouts/Navigation/Navigation.tsx
  src/styles/globals.css
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSWの設定を追加し、環境変数を更新 - .env.exampleにMSW_ENABLEDを追加し、eslint設定を更新 - instrumentation.tsとnextjs.tsを新規作成し、Node.jsランタイムでのMSWモックのセットアップを実装
  .env.example
  eslint.config.ts
  src/instrumentation.ts
  src/libs/msw/nextjs.ts
  vitest.config.ts
Due: eslint, prettier, spellcheck, typecheck

✨ pinoを使用したロガー機能を新規実装し、ログ出力のための関数を追加しました。また、ロガーのテストを追加し、エラーログの出力機能も実装しました。next.config.tsにpinoの設定を追加し、依存関係としてpinoとpino-prettyを追加しました。
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/libs/logger/index.ts
  src/libs/logger/logger.spec.ts
  src/libs/logger/logger.ts
  src/libs/logger/types/index.ts
Due: eslint, prettier, spellcheck, typecheck

:white_check_mark: instrumentation.tsをテストカバレッジの対象外に追加
  vitest.config.ts
Due: none
