Repository kryota-dev/nextjs-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markuplint, spellcheck, typecheck

eslint:
  run: pnpm exec next lint --file {staged_files}

prettier:
  run: pnpm exec prettier --check --cache {staged_files}

markuplint:
  run: pnpm exec markuplint {staged_files}

spellcheck:
  run: pnpm exec cspell --no-progress {staged_files}

typecheck:
  run: pnpm exec tsc --noEmit

📝 create-issue.mdのラベル表記をマークダウン構文に統一
  .cursor/tasks/create-issue.md
Due: none

fix: .gitkeepのディレクトリ修正
  .cursor/pull-requests/drafts/.gitkeep
Due: none

📝 README.mdにDeepWikiの情報を追加
  README.md
Due: none

📝 README.mdにDeepWikiのバッジを追加し、リンクを修正
  README.md
Due: none

📝 README.mdとコード品質保証ルールのmdcファイルを更新し、リントチェックやフォーマットチェックの自動修正コマンドを追加
  .cursor/rules/code-quality-assurance.mdc
  README.md
Due: none

✨ DeepWiki MCP Serverの設定を追加し、グローバルルールにDeepWikiの使用に関する前提条件を明記
  .cursor/mcp.json
  .cursor/rules/global.mdc
Due: none

📝 フロントエンドおよび汎用レビュータスクのドキュメントを更新し、GitHub MCP Serverからgh CLIへの移行に伴う手順を修正
  .cursor/tasks/frontend-review.md
  .cursor/tasks/generic-review.md
Due: none

✨ Node.jsのバージョン管理を改善し、.node-versionファイルを追加してGitHub Actionsでの設定を更新
  .github/actions/pnpm-setup/action.yml
  .github/workflows/add-github-labels.yml
  .node-version
Due: none

📝 directory-structure.mdに.node-versionファイルの追加を反映し、Node.jsのバージョン管理に関する情報を更新
  docs/coding-guidlines/directory-structure.md
Due: none

✨ @storybook/addon-onboardingを削除し、package.jsonおよびpnpm-lock.yamlを更新。Storybookの設定を整理。
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: none

✨ @storybook/addon-a11yおよび@storybook/addon-linksを追加し、Storybookの設定を更新。package.jsonとpnpm-lock.yamlも修正。
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: none

✨ vitest追加
  package.json
  pnpm-lock.yaml
Due: none

✨ vitestの設定ファイルを追加し、テスト環境を整備。環境変数のモックやJSDOMの設定を含む。
  vitest.config.ts
  vitest.setup.ts
Due: none

✨ vitestに関連する設定を追加し、テストスクリプトをpackage.jsonに追加。cspellの設定を更新し、アクセシビリティテストのフレームワークをJestからVitestに変更。
  .cursor/rules/wcag-2.2.mdc
  .gitignore
  cspell.config.yml
  package.json
Due: none

📝 README.mdにビルドおよびプレビューのセクションを追加し、テストの実行方法を明記。directory-structure.mdにVitestの設定ファイルを追加。technology-stack.mdにVitestと関連ツールを追加し、CI/CDセクションを整理。
  README.md
  docs/coding-guidlines/directory-structure.md
  docs/coding-guidlines/technology-stack.md
Due: none

✨ package.jsonのユニットテストカバレッジスクリプトを修正し、global.mdcとunit-test.mdcを追加。ユニットテストガイドラインをdocsに追加。
  .cursor/rules/global.mdc
  .cursor/rules/unit-test.mdc
  docs/coding-guidlines/unit-test.md
  package.json
Due: none

✨ dateUtilsのユニットテストを追加し、各関数の動作を検証するテストケースを実装。
  src/libs/dateUtils/dateUtils.spec.ts
Due: eslint, prettier, spellcheck, typecheck

✨ eslint.config.tsにVitestプラグインを追加し、テストルールを設定。ネストしたdescribeの最大深度やexpectの呼び出しの任意化など、テストの一貫性を向上させるルールを適用。
  eslint.config.ts
Due: none

✨ GitHub Actionsのワークフローを更新し、品質チェックの名称を英語に変更。ユニットテストのジョブを追加し、リポジトリのチェックアウトやpnpmのセットアップを含むステップを整理。
  .github/workflows/check-quality.yml
Due: none

✨ GitHub Actionsのワークフローで使用される名称を英語に変更し、pnpmセットアップやリポジトリのチェックアウトなどのステップを整理しました。
  .github/actions/pnpm-setup/action.yml
  .github/workflows/add-github-labels.yml
  .github/workflows/automated-release.yml
  .github/workflows/chromatic.yml
Due: none

✨ GitHub Actionsのワークフローでユニットテストの実行コマンドを修正し、カバレッジレポート作成のステップを整理しました。
  .github/workflows/check-quality.yml
Due: none

🐛 toISOFormatテストの期待値を修正し、日本時間での日付解釈に対応
  src/libs/dateUtils/dateUtils.spec.ts
Due: eslint, prettier, spellcheck, typecheck

🐛 toISOFormatテストを環境に依存しないように修正し、タイムゾーンの違いに対応
  src/libs/dateUtils/dateUtils.spec.ts
Due: eslint, prettier, spellcheck, typecheck

✨ GitHub Actionsのワークフローにカバレッジレポート作成のためのJSONパスを追加しました。
  .github/workflows/check-quality.yml
Due: none

:lock: execute pinact
  .github/workflows/check-quality.yml
Due: none

📄 document-management.mdcファイルを新規作成し、ドキュメント管理と自動更新ルールを定義しました。
  .cursor/rules/document-management.mdc
Due: none

✨ Google Tag Managerの設定を追加し、環境変数からGTM_IDを取得するようにしました。また、レイアウトにGTMを組み込み、noscriptタグを追加しました。
  .env.example
  src/app/layout.tsx
  src/config.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ Google Tag Managerのコンポーネントを新規作成し、レイアウトに統合しました。noscriptタグの処理を追加し、GTM_IDが未設定の場合はnullを返すようにしました。
  src/app/layout.tsx
  src/libs/GoogleTagManager/GoogleTagManager.tsx
  src/libs/GoogleTagManager/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ Google Tag Managerの設定を更新し、GTM_IDをNEXT_PUBLIC_GTM_IDに変更しました。また、GoogleTagManagerコンポーネントのテストを新規作成し、GTM_IDが設定されている場合の動作を確認するテストケースを追加しました。
  next.config.ts
  src/config.ts
  src/libs/GoogleTagManager/GoogleTagManager.spec.tsx
  src/libs/GoogleTagManager/GoogleTagManager.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ package.jsonのnameフィールドを「meitobari-homepage」から「nextjs-static-export-template」に変更しました。
  package.json
Due: none

✨ README.mdに環境変数の設定手順を追加し、テーブルのフォーマットを整えました。また、technology-stack.mdにGoogle Tag Managerのセクションを追加しました。
  README.md
  docs/coding-guidlines/technology-stack.md
Due: none

✨ 環境変数NEXT_PUBLIC_HOME_URLを追加し、レイアウトにサイトのメタデータを統合しました。また、サイト名と説明を定義する定数ファイルを新規作成し、OGP画像を追加しました。
  .env.example
  cspell.config.yml
  public/ogp.png
  src/app/layout.tsx
  src/config.ts
  src/constants/.gitkeep
  src/constants/SITE_DESCRIPTION.ts
  src/constants/SITE_NAME.ts
  src/constants/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ HOME_URL定数を新規作成し、robots.tsとsitemap.tsファイルを追加しました。また、layout.tsxファイルを更新し、OGP画像のURLを修正しました。
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/constants/HOME_URL.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ 新しい依存関係として「clsx」と「tailwind-merge」を追加し、スタイリングのクラス名をマージする関数「cn」を新規作成しました。また、layout.tsxファイルを更新し、クラス名の適用方法を改善しました。page.tsxファイルの内容を更新し、リンクをGitHubとDeepWikiに変更しました。
  cspell.config.yml
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/libs/stylings/cn.ts
  src/libs/stylings/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ 新しいテストファイル「cn.spec.ts」を追加し、スタイリングのクラス名を結合する関数「cn」の動作を検証するための複数のテストケースを実装しました。
  src/libs/stylings/cn.spec.ts
Due: eslint, prettier, spellcheck, typecheck

✨ README.mdとコード内の「Template」を「Boilerplate」に変更し、プロジェクトの名称を統一しました。
  README.md
  package.json
  src/app/page.tsx
  src/constants/SITE_DESCRIPTION.ts
  src/constants/SITE_NAME.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ package.jsonに「schema-dts」依存関係を追加し、JSON-LDを埋め込むための新しいコンポーネント群を作成しました。また、layout.tsxを更新し、JSON-LDデータをヘッダーに埋め込む機能を追加しました。
  package.json
  pnpm-lock.yaml
  src/app/@jsonld/_components/JsonLD.tsx
  src/app/@jsonld/_components/index.ts
  src/app/@jsonld/default.tsx
  src/app/@jsonld/page.tsx
  src/app/layout.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ JsonLDコンポーネントのユニットテストを新規作成し、正しい属性のレンダリングやJSON-LDデータの埋め込み、IDの生成などを検証するテストケースを実装しました。
  src/app/@jsonld/_components/JsonLD.spec.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

✨ package.jsonとpnpm-lock.yamlに@storybook/addon-vitest、@vitest/browser、playwrightの依存関係を追加し、テストスクリプトを更新しました。また、vitest.shims.d.tsとvitest.workspace.tsを新規作成し、.storybookの設定を強化しました。
  .storybook/main.ts
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  vitest.shims.d.ts
  vitest.workspace.ts
Due: none

✨ GitHub Actionsのワークフローを更新し、ユニットテストのジョブ名を「test-unit」に変更しました。また、新たに「test-storybook」ジョブを追加し、Storybookのテストを実行する設定を追加しました。
  .github/workflows/check-quality.yml
Due: none

Path conditions:
  eslint: any of: src/**/*.{js,jsx,ts,tsx}
  prettier: any of: src/**/*.{js,jsx,ts,tsx,css}
  markuplint: any of: src/**/*.{jsx,tsx,html}
  spellcheck: any of: src/**/*.{js,jsx,ts,tsx,css}
  typecheck: any of: src/**/*.{ts,tsx}
