Repository kryota-dev/nextjs-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, markuplint, spellcheck, typecheck

eslint:
  run: pnpm exec next lint --file {staged_files}

prettier:
  run: pnpm exec prettier --check --cache {staged_files}

markuplint:
  run: pnpm exec markuplint {staged_files}

spellcheck:
  run: pnpm exec cspell --no-progress {staged_files}

typecheck:
  run: pnpm exec tsc --noEmit

feat: MSWの設定を更新し、環境変数を追加 - .env.exampleにNEXT_PUBLIC_MSW_ENABLEDを追加し、config.tsでの環境変数の読み込みを実装 - instrumentation.tsを削除し、MSWProviderを新規作成してレイアウトに統合
  .env.example
  src/app/layout.tsx
  src/app/news/[id]/page.tsx
  src/app/profiles/[id]/page.tsx
  src/config.ts
  src/instrumentation.ts
  src/libs/logger/logger.ts
  src/libs/logger/types/index.ts
  src/libs/msw/nextjs.ts
  src/providers/MSWProvider/MswProvider.tsx
  src/providers/MSWProvider/index.ts
  src/providers/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: microCMSのモックデータとハンドラーを追加 - ニュース、ニュースカテゴリ、プロフィールのモックデータを作成し、microCMS APIのモックハンドラーを実装 - MSWの設定を更新し、レイアウトでのMSWサーバーの動作を改善
  src/app/layout.tsx
  src/libs/msw/data/microcms.ts
  src/libs/msw/handlers/microcms.ts
  src/providers/MSWProvider/MswProvider.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSWサーバーの設定をReact Server Components用に移行し、レイアウトでの呼び出しを簡素化 - 新規ファイルsetupMswRsc.tsを追加し、MSWProviderとの統合を強化
  src/app/layout.tsx
  src/libs/msw/setupMswRsc.ts
  src/providers/MSWProvider/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: cspellの設定を更新し、不要な単語を削除 - 新たに必要な単語を追加し、ignorePathsを維持
  cspell.config.yml
  vitest.setup.ts
Due: none

feat: サニタイズ処理の改善 - 環境に応じたDOMPurifyのインポートを実装し、JSDOMが利用できない場合のフォールバック処理を追加
  src/libs/sanitize/sanitize.ts
Due: eslint, prettier, spellcheck, typecheck

feat: ナビゲーションコンポーネントのリンクテキストとスタイルを更新 - トップ、記事一覧、新規投稿のリンクをホーム、ニュース、プロフィールに変更し、テストを修正
  src/components/layouts/Navigation/Navigation.spec.tsx
  src/libs/sanitize/sanitize.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: Vitest設定にNext.js用のStorybookプラグインを追加 - テスト環境の拡張を実施
  vitest.config.ts
Due: none

feat: MSWの設定を更新し、不要なファイルを除外 - vitest.config.tsのMSW関連ファイルを整理し、setupMswRsc.spec.tsとMSWProvider.spec.tsを新規追加
  src/libs/msw/setupMswRsc.spec.ts
  src/providers/MSWProvider/MSWProvider.spec.tsx
  vitest.config.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

スタイルシートのダークテーマCSS変数をコメントアウト - globals.cssファイルを更新し、ダークテーマに関連するCSS変数を無効化
  src/styles/globals.css
Due: prettier, spellcheck

feat: microCMSのモックデータを更新 - ニュースカテゴリ名と記事タイトルをテスト用の内容に変更し、プロフィール情報をダミーデータに更新
  src/libs/msw/data/microcms.ts
Due: eslint, prettier, spellcheck, typecheck

feat: レイアウトとヘッダーコンポーネントを更新 - メタデータをサイトの定数に基づいて設定し、ナビゲーションをヘッダーに統合。不要なナビゲーションコンポーネントを削除し、テストを追加。
  src/app/_containers/layout/presentation/presentation.tsx
  src/app/layout.tsx
  src/components/common/index.ts
  src/components/layouts/Header/Header.spec.tsx
  src/components/layouts/Header/Header.tsx
  src/components/layouts/Navigation/Navigation.spec.tsx
  src/components/layouts/Navigation/Navigation.tsx
  src/components/layouts/Navigation/index.ts
  src/components/layouts/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: 日付操作関数を追加 - 新しい日付比較関数（getNewerDate、getOlderDate）、中間日付計算関数（getMiddleDate）、および日付調整関数（getAdjustedDate）を実装し、関連するテストケースを追加
  src/libs/dateUtils/dateUtils.spec.ts
  src/libs/dateUtils/dateUtils.ts
Due: eslint, prettier, spellcheck, typecheck

feat: サイトマップの動的生成を実装 - ニュースとプロフィールの情報を取得し、最新の更新日時に基づいてサイトマップを生成する機能を追加
  src/app/sitemap.ts
Due: eslint, prettier, spellcheck, typecheck

feat: ニュースとプロフィールの取得順序を更新 - 最新の更新日時に基づいて情報を取得するように変更
  src/app/_containers/page/container.tsx
  src/app/news/_containers/page/container.tsx
  src/app/profiles/_containers/page/container.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: サイト名と説明を定数から取得するように更新 - プレゼンテーションコンポーネントでSITE_NAMEとSITE_DESCRIPTIONを使用
  src/app/_containers/page/presentation/presentation.tsx
  src/constants/SITE_DESCRIPTION.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSWのリクエストハンドリングを改善 - 不足しているハンドラーの表示に関するコメントを追加し、ワーカーの開始メッセージを更新
  src/libs/msw/setupMswRsc.ts
  src/providers/MSWProvider/MswProvider.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSWの設定を更新 - NEXT_PUBLIC_MSW_ENABLEDを追加し、ハンドラー表示に関するコメントを保持
  src/libs/msw/setupMswRsc.ts
Due: eslint, prettier, spellcheck, typecheck

feat: MSWの設定を更新 - childプロパティにNEXT_PUBLIC_MSW_ENABLEDを追加し、テストケースを強化
  src/libs/msw/setupMswRsc.spec.ts
Due: eslint, prettier, spellcheck, typecheck

feat: ヘッダーコンポーネントのテストを強化 - usePathnameをモックし、ナビゲーションリンクの現在ページ判定やaria属性の設定を追加。スタイルとレスポンシブ対応のテストケースを充実させ、エラーハンドリングを改善。
  src/components/layouts/Header/Header.spec.tsx
  src/components/layouts/Header/Header.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSWProviderの名称をMswProviderに変更 - コード内のインポートとテストケースを更新し、一貫性を持たせる
  src/app/layout.tsx
  src/providers/MSWProvider/MSWProvider.spec.tsx
  src/providers/MSWProvider/MswProvider.tsx
  src/providers/MSWProvider/index.ts
  src/providers/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: ファイル名変更
  src/providers/MswProvider/MswProvider.spec.tsx
  src/providers/MswProvider/MswProvider.tsx
  src/providers/MswProvider/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

Delete src/providers/MSWProvider directory
  src/providers/MSWProvider/MSWProvider.spec.tsx
  src/providers/MSWProvider/MswProvider.tsx
  src/providers/MSWProvider/index.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: 環境変数の設定を更新し、MSWの設定を改善 - .env.exampleの修正、next.config.tsにベースパスの設定を追加、MSWの初期化をファイル名を引数に取るように変更
  .env.example
  .github/actions/deploy/ftp/action.yml
  .github/workflows/chromatic.yml
  .github/workflows/delete-ftp-server.yml
  .github/workflows/deploy-ftp-server.yml
  eslint.config.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/mockServiceWorker.js
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/config.ts
  src/constants/HOME_URL.ts
  src/libs/msw/setupMswRsc.spec.ts
  src/libs/msw/setupMswRsc.ts
  src/providers/MswProvider/MswProvider.spec.tsx
  src/providers/MswProvider/MswProvider.tsx
  tsconfig.json
  vitest.setup.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: MSW設定を更新し、フィーチャーフラグを導入 - 環境変数をNEXT_PUBLIC_FEATURE_FLAGに変更し、関連するコードを修正
  .env.example
  .github/workflows/deploy-ftp-server.yml
  src/app/layout.tsx
  src/app/robots.ts
  src/config.ts
  src/libs/msw/setupMswRsc.spec.ts
  src/libs/msw/setupMswRsc.ts
  src/providers/MswProvider/MswProvider.spec.tsx
  src/providers/MswProvider/MswProvider.tsx
  vitest.setup.ts
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: フィーチャーフラグのロジックを修正 - NEXT_PUBLIC_FEATURE_FLAGの条件を変更し、robots設定を反転
  .github/workflows/deploy-ftp-server.yml
  src/app/layout.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: .env.exampleのフィーチャーフラグの説明を更新し、layout.tsxから不要なTODOコメントを削除
  .env.example
  src/app/layout.tsx
Due: eslint, prettier, markuplint, spellcheck, typecheck

feat: FTPサーバー削除ワークフローの名前を絵文字付きに変更
  .github/workflows/delete-ftp-server.yml
Due: none

feat: FTPデプロイおよび削除ワークフローに条件を追加 - DEPLOY_TYPEが'ftp'の場合のみ実行されるように修正
  .github/workflows/delete-ftp-server.yml
  .github/workflows/deploy-ftp-server.yml
Due: none

docs: GitHub ActionsのVariablesとSecretsに関する新しい設定ガイドを追加し、不要な.gitkeepファイルを削除
  docs/project-guidlines/.gitkeep
  docs/project-guidlines/github-actions-vars-secrets.md
Due: none

feat: FTPデプロイおよび削除ワークフローにドライラン機能を追加し、関連するメッセージを更新
  .github/actions/deploy/ftp/action.yml
  .github/workflows/delete-ftp-server.yml
  .github/workflows/deploy-ftp-server.yml
Due: none

feat: FTP操作のドライラン機能を追加し、関連するワークフローの設定を更新
  docs/project-guidlines/github-actions-vars-secrets.md
Due: none

feat: FTPワークフローのbase_path設定を更新し、PR番号に'_feature'プレフィックスを追加
  .github/workflows/delete-ftp-server.yml
  .github/workflows/deploy-ftp-server.yml
Due: none

feat: FTPデプロイアクションにプロダクションデプロイメントのオプションを追加し、PRプレビュー用の.htaccessファイル作成機能を実装
  .github/actions/deploy/ftp/action.yml
  .github/workflows/deploy-ftp-server.yml
Due: none

Path conditions:
  eslint: any of: src/**/*.{js,jsx,ts,tsx}
  prettier: any of: src/**/*.{js,jsx,ts,tsx,css}
  markuplint: any of: src/**/*.{jsx,tsx,html}
  spellcheck: any of: src/**/*.{js,jsx,ts,tsx,css}
  typecheck: any of: src/**/*.{ts,tsx}
